body {
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;    */
   display: grid;
   place-items: center;
}

#title {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 75px;
}

main {
   display: flex;
   flex-direction: column;
   width: 60%;
   margin-bottom: 10%;
}

main .link-section {
   margin-bottom: 30px;
}

main .link-section p {
   margin: 5px 0px;
}