/********* input *********/

.matrix-input {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.dim input {
   text-align: right;
   width: 1.5rem;
   padding-right: 2px;
}

/********* matrix input *********/

.input-grid {
   border-top: 1px solid black;
   padding-top: 5px;
   margin-top: 7px;
   display: grid;
   row-gap: 10px;
   column-gap: 10px;
}

.entry {
   text-align: right;
   max-width: 2rem;
}