/********* display matrix *********/

#display {
   padding: 1rem 1.5rem;
   border-bottom: 1px solid black;
}

.matrix-pair {
   margin: 0.5rem 0rem;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.display-matrix {
   display: inline-grid;
   margin: 1rem 0rem;
   margin-right: 10px;
   padding: 4px 6px;
   column-gap: 12px;
   border: 1px solid black;
}

.display-matrix div {
   text-align: center;
   min-width: 1rem;
}

/********* undo redo *********/
#undo-redo {
   padding: 0.5rem 1.5rem;
   border-bottom: 1px solid black;
}

/********* operations menu *********/

#operations-menu {
   padding: 1rem 1.5rem;
   border-bottom: 1px solid black;
}

#operations-menu input {
   max-width: 2rem;
}

#operations-menu div {
   margin: 0.5rem 0rem;
}

#operations-menu button {
   margin-left: 0.5rem;
}

#reduction button {
   margin: 0;
}