/********* general *********/
body {
   font-size: 1rem;
   font-family: 'Open Sans', sans-serif;
   height: 100vh;
   margin: 0;
}

button {
   font-family: 'Open Sans', sans-serif;
   cursor: pointer;
}

/********* settings *********/
#settings {
   display: flex;
   justify-content: center;
}

#settings h2 {
   font-size: 1rem;
   font-weight: normal;
}

.matrix-setup {
   margin: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dimensions {
   padding-bottom: 10px;
   border-bottom: 1px solid black;
}

.dim {
   max-width: 1.5rem;
   text-align: right;
}

.matrix-wrapper {
   margin: 10px;
   display: grid;
   row-gap: 10px;
   column-gap: 10px;
}

.entry {
   max-width: 3rem;
}