body {
   display: flex;
   flex-direction: column;
}

nav {
   position: relative;
}

/********* display matrix *********/

#display {
   display: flex;
   padding: 1.5rem;
   border-bottom: 1px solid black;
}

.display-matrix {
   display: none;
   margin-right: 50px;
}

.matrix-wrapper {
   display: grid;
   padding: 4px 6px;
   column-gap: 12px;
   border: 1px solid black;
}

.matrix-wrapper div {
   text-align: center;
   min-width: 1rem;
}

/********* operations menu *********/

#operations-menu {
   padding: 1.5rem;
   border-bottom: 1px solid black;
}

#operations-menu input {
   max-width: 2rem;
}

#operations-menu div {
   margin-bottom: 1rem;
}

#operations-menu button {
   margin-left: 0.5rem;
}